<% include ../partials/header %>
       
    <div id="about-container">
            
        <div id='show'> 
            <button id="show_story">Malta Story</button>
            <button id="show_about">About us</button>
            <button id="show_gallery">Gallery</button>
            <button id="show_links">Links</button>
        </div>
    
        <div id="box-right">
        
            <div id="box_story">
                <h2>Malta Story</h2>
                <p>The Maltese Islands are positively mythic. The narrow meandering streets of their towns and villages lead to the main square, which is invariably dominated by the huge baroque church. As the countryside is dotted with medieval towers, wayside chapels and the oldest known human structures in the world, the Islands have rightly been described as an open-air museum.</p>
                <p>The Maltese archipelago lies virtually at the centre of the Mediterranean, 93 km south of Sicily and 288 km north of Africa. The archipelago consists of three islands: Malta, Gozo and Comino with a total population of over 400,000 inhabitants occupying an area of 316 square kilometers.</p>
                <p>Malta is the largest island and the cultural, commercial and administrative centre. Gozo is the second largest island and is more rural, characterised by fishing, tourism, crafts and agriculture. Comino, the smallest of the trio, has one hotel and is largely uninhabited.</p>
                <p>With superbly sunny weather, attractive beaches, a thriving nightlife and 7,000 years of intriguing history, there is a great deal to see and do.</p>
            </div>
            
             <div id="box_about">
                <h2>Hello Malta!</h2>
                <p>The Hello Malta is an rich web application that allows share your experiences of staying on the beautiful island of Malta, or can help you to find usuful information before your holiday trip.<br>
                <br>Click, change, hide, show, add, remove, look  - on this page you can find many colorful interactions. Try all of this and have fun! :)</p><hr>
                <p>We are a group of friends from Malta, some of us still live there, some  get to know other parts of the world. Each of us, however, keeps coming back to the wonderful, calm and sunny time we spent in Malta. We want you to love it too!</p>
                <p>*All photographs available on the site was made by us.</p>
            </div>
        
            <div id="box_gallery">
                <h2>GALLERY</h2>
                    <ul id="small-photos">
                        <li><img class="small-photo" src="gallery/malta2.jpg" alt="Mdina photo" title="Mdina" width="100" height="100" /></li>
                        <li><img class="small-photo" src="gallery/malta3.jpg" alt="Valetta photo" title="Valetta" width="100" height="100" /></li>
                        <li><img class="small-photo" src="gallery/malta4.jpg" alt="Melieha photo" title="Melieha" width="100" height="100" /></li>
                        <li><img class="small-photo" src="gallery/malta5.jpg" alt="Naxxar photo" title="Naxxar" width="100" height="100" /></li>  
                        <li><img class="small-photo" src="gallery/malta6.jpg" alt="Old maltese bus photo" title="Old maltese bus" width="100" height="100" /></li>  
                        <li><img class="small-photo" src="gallery/malta7.JPG" alt="Sliema photo" title="Sliema" width="100" height="100" /></li>  
                    </ul>
                    
                    <ul id="big-photo">
                        <img class="big-photo" src="/gallery/malta1.jpg" alt="Malta Gallery"/>
                    </ul>
            </div>
        
            <div id="box_links">
                <h2>LINKS</h2>
                    <ul>
                		<li><a href="https://www.visitmalta.com" target="_blank">The Official Tourism Site - www.visitmalta.com</a></li>
                  	  	<aside class="aside-links"><img src="/malta_map.png" alt="Map of Malta" width="200" /></aside>
                		<li><a href="https://www.publictransport.com.mt" target="_blank">Malta Public Transport</a></li>
                		<li><a href="https://www.timesofmalta.com" target="_blank">Breaking news - Times of Malta</a></li>
            		    <li><a href="https://www.accuweather.com/en/mt/malta-weather" target="_blank">Malta Weather</a></li>
                    	<li><a href="http://www.captainmorgan.com.mt" target="_blank">Cruises and trips around Malta, Comino and Gozo</a></li>
                        <li><a href="http://www.gozoadventures.com/activities/sea-kayaking" target="_blank">Kayaking</a></li>
                        <li><a href="http://www.kayakgozo.com/kayak-tours.html" target="_blank">Kayaking Gozo</a></li>
                    	<li><a href="https://www.malta-diving.com" target="_blank">Malta Diving</a></li>
                    	<li><a href="https://seashelldivingmalta.com" target="_blank">Diving/Snorkeling</a></li>
                        <li><a href="http://www.climbmalta.com" target="_blank">Climbing Malta</a></li>
                    	<li><a href="http://www.gozo-climbing.com" target="_blank">Climbing Gozo</a></li>
        	        </ul>
            </div>
        
        </div>
                
    </div>
        
    <div style="clear: both"></div>
        
<% include ../partials/footer %>