<% include ../partials/header %>

  <div class="welcomebox">
      
      <h1><div id="hello-malta"></div></h1>
      
      <a id="read-more">Click here to read more</a>
      <br>

      <p class="welcome-txt">
        Would you like to explore Malta? This page will help you to plan your trip.<br>
        Or maybe...You know Malta very well and would like to share your experience? 
        <br><br>
        Together we can gather informations about the most beautiful places in Malta that are definitely worth visiting.<br><br>
        By clicking on the <a href="placesmalta">MALTA </a> page, you can see places in Malta that have been posted by others especially for you. 
        You will find there a detailed description of the place, suggestions on how to actively (passively also ;)) rest and a lot of beautiful pictures.<br>
        <br>
        We encourage you to take advantage of the <a href="alltips">TIPS</a> section and the <a href="about">ABOUT</a> page - to check the useful information you may find helpful during your stay in Malta.<br>
        <br>
        Create your own trip based on information contained on this page!
      </p>
  
  </div>
    
  <ul class="slides" id="slider">
      <li><a href="#"><img src="/malta1.jpg" alt=""></a></li>
      <li><a href="#"><img src="/malta2.jpg" alt=""></a></li>
      <li><a href="#"><img src="/malta3.jpg" alt=""></a></li>
	    <li><a href="#"><img src="/malta4.jpg" alt=""></a></li>
  </ul>

        
<% include ../partials/footer %>